

.container {
    min-width: 100% !important;
    height: 100vh !important;
    background-color: #f8f9fa; 
   padding: 100px;
    border-radius: 8px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
  }
  
  .card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  }
  
  
  